<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome to my Quiz !{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
</head>
<body>
    {% block header %}
    <div id="header">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <p>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</p> |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
        <a href="{{ path('create_quizz') }}">Create a quizz</a>
        <a href="{{ path('see_my_quizz') }}">See and edit your quizz</a>
        {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        <a href="{{ path('fos_user_registration_register') }}">Register</a>
        {% endif %}
        <a class="float-right" href="{{ path('homepage') }}">Homepage</a>
    </div>
    {% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
    <div class="{{ type }}">
        {{ message|trans({}, 'FOSUserBundle') }}
    </div>
    {% endfor %}
    {% endfor %}
    {% endblock %}
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
