{% extends 'base.html.twig' %}

{% block body %}
<div id="edit-question" class="quizz centered">
	<div class="quizz-header">
		{{ form_start(formQuestion) }}
		{{ form_widget(formQuestion) }}
		{{ form_end(formQuestion) }}
	</div>
	<div class="quizz-body">
		<ul class="answers-list">
		{% for answer in question.answers %}
			<li>{{ answer.value }}{% if(answer.valid) %} (Valid) {% endif %}</li>
			<li><a href="{{ path('edit_answer', {'answerId': answer.id}) }}">Edit this answer</a></li>
		{% endfor %}
		</ul>
	</div>
	{% if(question.validated) %}
		<p class="success">Congratulation, this question is valid.</p>
	{% else %}
		<p class="error">Your question is invalid. Your question needs to have at least four answers, including a valid one.</p>
	{% endif %}
</div>
<div id="create-answer" class="quizz centered">
	{{ form_start(formAnswer) }}
	{{ form_widget(formAnswer) }}
	{{ form_end(formAnswer) }}
</div>
{% endblock %}