{% extends 'base.html.twig' %}

{% block body %}
<div id="newQuizz-form" class="centered form">
	<div class="quizz centered">
		{{ form_start(formQuizz) }}
		{{ form_widget(formQuizz) }}
		{{ form_end(formQuizz) }}
	</div>
	{% if quizz.validated %}
	<p class="success">Congratulation, this question is valid.</p>
	{% else %}
	<p class="error">Your quizz is invalid. Your quizz needs to have at least twenty valid questions</p>
	{% endif %}
</div>
<div id="quizzQuestions" class="centered">
	<div class="quizz centered">
		{% for question in quizz.questions %}
		<p>{{ question.value }}</p>
		<a href="{{ path('edit_question', {'questionId': question.id}) }}">Edit the question or add answers</a>
		<hr/>
		{% endfor %}
	</div>
</div>
<div id="newQuestion-form" class="centered form">
	<div class="quizz centered">
		{{ form_start(formQuestion) }}
		{{ form_widget(formQuestion) }}
		{{ form_end(formQuestion) }}
	</div>
</div>
{% endblock %}